@import url(http://fonts.googleapis.com/css?family=Habibi);

body {
  font-family: 'Habibi', serif;
  margin: 0;
}
header {
  padding: 0 10%;
  background-color: black;
  color: white;
}
h1 {
  font-size: 4.2em;
  margin: 0;
  padding: 0;
  font-family: <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>;
}

h2 {
  margin: 0;
  font-size: 1.15em;
  font-weight: normal;
  letter-spacing: .8em;
  margin-bottom: 2em;
}
h3 {
  font-weight: bold;
  font-size: 2em;
  margin:0;
  margin-top: 3px;
  font-family: <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>;
  color: #791195;
}
h4 {
  font-weight: bold;
  font-size: 1.4em;
  margin:0;
  margin-top: 3px
  font-family: <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>;
  color: #791195;
}
p {
  margin:0;
  margin-bottom: 1em;
}
#columnwrapper {
  margin: 0 10%;
}
.column {
  box-sizing: border-box;
  width:50%;
  float: left;
  padding-right: 1.5em;
}
#overrides li{
background-color: white
}
